body{background-color: rgb(11, 11, 15);}
#h1 { background-color:rgb(6, 6, 6); color: rgb(2, 2, 2); border:solid; border: radius 1px;border-width: 1cm;border-color:  rgb(78, 214, 212); text-align: center;}
input {color: blue;}
form {color:black;}
img{height: 200px; display:block; margin-left: auto; margin-right:auto; margin-bottom:0% ; }
h4{ color: darkblue;}
h3{
    background-color:red ;}


p{color: black;}
caption{ color:black}
table{background-color:wheat}
.second{background-color:yellowgreen;}
.third{color:darkblue}
.fourth{ text-align-last: center;}


header .item {
height: 100vh;
position: relative;
}
header .item img {
width: 100%;
height: 100%;
object-fit: cover;
}
header .item .cover {
padding: 75px 0;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(0, 0, 0, 0.6);
display: flex;
align-items: center;
}
header .item .cover .header-content {
position: relative;
padding: 56px;
overflow: hidden;
}
header .item .cover .header-content .line {
content: "";
display: inline-block;
width: 100%;
height: 100%;
left: 0;
top: 0;
position: absolute;
border: 9px solid #fff;
-webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
header .item .cover .header-content h2 {
font-weight: 300;
font-size: 35px;
color: #fff;
}
header .item .cover .header-content h1 {
font-size: 56px;
font-weight: 600;
margin: 5px 0 20px;
word-spacing: 3px;
color: #fff;
}
header .item .cover .header-content h4 {
font-size: 24px;
font-weight: 300;
line-height: 36px;
color: #fff;
}
header .owl-item.active h1 {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
animation-name: fadeInDown;
animation-delay: 0.3s;
}
header .owl-item.active h2 {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
animation-name: fadeInDown;
animation-delay: 0.3s;
}
header .owl-item.active h4 {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
animation-name: fadeInUp;
animation-delay: 0.3s;
}
header .owl-item.active .line {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
animation-name: fadeInLeft;
animation-delay: 0.3s;
}
header .owl-nav .owl-prev {
position: absolute;
left: 15px;
top: 43%;
opacity: 0;
-webkit-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;
background: rgba(0, 0, 0, 0.5) !important;
width: 40px;
cursor: pointer;
height: 40px;
position: absolute;
display: block;
z-index: 1000;
border-radius: 0;
}
header .owl-nav .owl-prev span {
font-size: 1.6875rem;
color: #fff;
}
header .owl-nav .owl-prev:focus {
outline: 0;
}
header .owl-nav .owl-prev:hover {
background: #000 !important;
}
header .owl-nav .owl-next {
position: absolute;
right: 15px;
top: 43%;
opacity: 0;
-webkit-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;
background: rgba(0, 0, 0, 0.5) !important;
width: 40px;
cursor: pointer;
height: 40px;
position: absolute;
display: block;
z-index: 1000;
border-radius: 0;
}
header .owl-nav .owl-next span {
font-size: 1.6875rem;
color: #fff;
}
header .owl-nav .owl-next:focus {
outline: 0;
}
header .owl-nav .owl-next:hover {
background: #000 !important;
}
header:hover .owl-prev {
left: 0px;
opacity: 1;
}
header:hover .owl-next {
right: 0px;
opacity: 1;
}

.rbutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #4dc2ab;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 8px;
  width: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 50px;
  border-radius: 2vh;
}

.rbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.rbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.rbutton:hover span {
  padding-right: 25px;
}

.rbutton:hover span:after {
  opacity: 1;
  right: 0;
}


.con{
  background-color: rgb(78, 214, 212);
  border-radius: 0px;
  height: 10vh;
  padding: 2vh;
  text-align: right;
  
}

.hb{
  border-radius: 20px;
  font-style: inherit;
  padding: 5px;
}

.hn{
  text-align: center;
  color: white;
}


